.header {
    background-color: gray;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .nav-list li {
    margin: 0 1rem;
  }
  
  .nav-list a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
  }
  
  .nav-list a:hover {
    text-decoration: underline;
  }
  